# PostgresSQL
POSTGRES_DB=signal_brief
POSTGRES_PASSWORD=123456
POSTGRES_USER=celestrong
POSTGRES_PORT=5432

# APP
SPRING_DATASOURCE_USERNAME=celestrong
SPRING_DATASOURCE_PASSWORD=123456
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/signal_brief
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
